<div class="container__big-card">
  <div class="big-card__photo">
    <img
      src="https://images.unsplash.com/photo-1461988320302-91bde64fc8e4?ixid=2yJhcHBfaWQiOjEyMDd9&&fm=jpg&w=640&fit=max"
      alt="image card"
    />
  </div>

  <div class="big-card__title">
    <h3><a href="#">Saiu a nova versão do Angular</a></h3>
  </div>

  <div class="big-card__description">
    <p>
      <a href="#">
        Angular é a última framework de frontend que aprendi. Antes de trabalhar
        com ela, eu tinha um pouco de receio de aprendê-la pois a documentação
        inicial parecia um tanto assustadora. Por outro lado, após começar a
        trabalhar com ela, vi que não é tão complicada assim, a documentação é que
        não ajuda
      </a>
    </p>
  </div>
</div>
