<div class="container__small-card">
  <div class="container__small-card-main">
    <div class="small-card__photo">
      <img
        src="https://images.unsplash.com/photo-1671726203454-5d7a5370a9f4?ixid=2yJhcHBfaWQiOjEyMDd9&fm=jpg&w=300&fit=max"
        alt="photo-small"
        srcset=""
      />
    </div>

    <div class="small-card__content">
      <h4><a href="#">Saiu a nova versão do Angular</a></h4>
      <p>
        <a href="#">
          Angular é a última framework de frontend que aprendi. Antes de trabalhar
          com ela, eu tinha um pouco de receio de aprendê-la pois a documentação
          inicial parecia um tanto assustadora. Por outro lado, após começar a
          trabalhar com ela, vi que não é tão complicada assim, a documentação é que
          não ajuda
        </a>
      </p>
    </div>
  </div>

  <div class="small-card__separator">
    <hr />
  </div>
</div>
