<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      photoCover="https://images.unsplash.com/photo-1461988320302-91bde64fc8e4?ixid=2yJhcHBfaWQiOjEyMDd9&&fm=jpg&w=640&fit=max"
      cardTitle="Saiu a nova versão do Angular"
      cardDescription="Angular é a última framework de frontend que aprendi. Antes de trabalhar com ela, eu tinha um pouco de receio de aprendê-la pois a documentação inicial parecia um tanto assustadora. Por outro lado, após começar a trabalhar com ela, vi que não é tão complicada assim, a documentação é que não ajuda"
    ></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
      photoCover="https://images.unsplash.com/photo-1671726203454-5d7a5370a9f4?ixid=2yJhcHBfaWQiOjEyMDd9&fm=jpg&w=300&fit=max"
      cardTitle="Saiu a nova versão do Angular"
      cardContent="Angular é a última framework de frontend que aprendi. Antes de trabalhar com ela, eu tinha um pouco de receio de aprendê-la pois a documentação inicial parecia um tanto assustadora. Por outro lado, após começar a trabalhar com ela, vi que não é tão complicada assim, a documentação é que não ajuda"
    ></app-small-card>
    <app-small-card
      photoCover="https://images.unsplash.com/photo-1671726203454-5d7a5370a9f4?ixid=2yJhcHBfaWQiOjEyMDd9&fm=jpg&w=300&fit=max"
      cardTitle="Saiu a nova versão do Angular"
      cardContent="Angular é a última framework de frontend que aprendi. Antes de trabalhar com ela, eu tinha um pouco de receio de aprendê-la pois a documentação inicial parecia um tanto assustadora. Por outro lado, após começar a trabalhar com ela, vi que não é tão complicada assim, a documentação é que não ajuda"
    ></app-small-card>
    <app-small-card
      photoCover="https://images.unsplash.com/photo-1671726203454-5d7a5370a9f4?ixid=2yJhcHBfaWQiOjEyMDd9&fm=jpg&w=300&fit=max"
      cardTitle="Saiu a nova versão do Angular"
      cardContent="Angular é a última framework de frontend que aprendi. Antes de trabalhar com ela, eu tinha um pouco de receio de aprendê-la pois a documentação inicial parecia um tanto assustadora. Por outro lado, após começar a trabalhar com ela, vi que não é tão complicada assim, a documentação é que não ajuda"
    ></app-small-card>
  </div>
</div>
