

<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      Id="1"
      photoCover="https://images.unsplash.com/photo-1698778279994-4dd64e5e0421?q=80&w=640&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      cardTitle="US and Indonesia in talks over EV mineral alliance"
      cardDescription="Indonesia and US have launched talks around a potentially critical EV minerals deal, which could focus mainly on nickel."
    ></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
      Id="2"
      photoCover="https://images.unsplash.com/photo-1683009427051-00a2fe827a2c?q=80&w=300&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      cardTitle="Exxon Mobil plans to produce lithium in Arkansas"
      cardContent="Exxon Mobil said Monday that it planned to set up a facility in Arkansas to produce lithium, a crucial raw material for electric vehicles"
    ></app-small-card>
    <app-small-card
      Id="3"
      photoCover="https://images.unsplash.com/photo-1682695797873-aa4cb6edd613?q=80&w=300&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      cardTitle="Hyundai To Give Non-Union Workers"
      cardContent="Hyundai plans to give non-union workers in its Alabama factory a 25-percent raise by 2028, Reuters reports."
    ></app-small-card>
    <app-small-card
      Id="4"
      photoCover="https://images.unsplash.com/photo-1682686579688-c2ba945eda0e?q=80&w=300&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      cardTitle="Want a Cybertruck?"
      cardContent="Thinking about buying a Cybertruck? Well, be sure you want it: Tesla is threatening to sue anyone who tries to sell theirs"
    ></app-small-card>
  </div>
</div>
